<div class="box items">
  {% for hidden in item.hidden_fields %}{{ hidden }}{{ hidden.errors }}{% endfor %}
  {% for field in item.visible_fields %}
    {% if field.name == 'DELETE' %}<div class="delete-field">{{ field }} {{ field.label_tag }}</div>
    {% else %}<div>{{ field.label_tag }}{{ field }}{{ field.errors }}</div>{% endif %}
  {% endfor %}
  <div class="profit">販売金額: <span data-line-sale>0円</span>{% if can_edit_accounting %}　原価合計: <span data-line-cost>原価未入力</span>　単価利益: <span data-unit-profit>原価未入力</span>　利益率: <span data-margin>計算不可</span>　利益合計: <span data-line-profit>計算不可</span>{% endif %}</div>
</div>
