<div class="box items">
  {% for hidden in item.hidden_fields %}{{ hidden }}{{ hidden.errors }}{% endfor %}
  {% for field in item.visible_fields %}
    {% if field.name == 'DELETE' %}<div class="delete-field">{{ field }} {{ field.label_tag }}</div>
    {% else %}<div>{{ field.label_tag }}{{ field }}{{ field.errors }}</div>{% endif %}
  {% endfor %}
  {% if can_edit_accounting %}<div class="profit">利益: <span data-unit-profit>原価未入力</span> / 個　利益率: <span data-margin>計算不可</span>　明細利益: <span data-line-profit>計算不可</span></div>{% endif %}
</div>
